.box{
    background-color: red;
    min-height: 80px;
    margin: 10px 0px;
    color: white;
    font-size: 30px;
    text-align: center;
    
}
.header .hero .footer{
    background-color: green;
    margin-bottom: 10px;
}
.red{
    background-color: yellow;
}
.five{
    background-color: black;
}
